WHATSAPP_NUMBER=+61412345678
PARTY_DATE=Saturday May 2nd
PARTY_TIME=7pm
PARTY_ADDRESS_EN=Monaco Residence, 350 Bronte Rd, Waverley
PARTY_ADDRESS_HE=מונקו רזידנס, ברונטה 350, וייברלי
IMGUR_IMAGE_ID=Pto8gPP
CONFETTI_COUNT=50
BALLOON_COUNT=10
RSVP_MESSAGE=Hi! I'm coming to Netta's 59th birthday party! 🎉